<?php

$dbHostname     = '{{ getenv "GD_DB_HOSTNAME" }}' ;
$dbName         = '{{ getenv "GD_DB_NAME" }}' ;
$dbUsername     = '{{ getenv "GD_DB_USERNAME" }}' ;
$dbPassword     = '{{ getenv "GD_DB_PASSWORD" }}' ;
$dbTablePrefix  = '{{ getenv "GD_DB_TABLE_PREFIX" }}' ;
$encryptionSalt = '{{ getenv "GD_ENCRYPTION_SALT" }}' ;
$apiEnabled     = {{ getenv "GD_API_ENABLED" }} ;

?>
